<%- include("header") -%>
<!-- using ejs layouts above to include the header.ejs file -->

    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>

    </div>

    <div class="box">

            <!-- for every item in the array, we are creating a 
                new bullet list with the new item  -->
            
                <% for (let i= 0; i <newListItems.length; i++ ){ %>
                    <div class="item"> 
                        <input type="checkbox">
                        <p> <%= newListItems[i] %> </p> 
                    </div>
                    
                   <% } %>

 <!-- we are submitting each item that the user 
        types to a post request which is then pushed to an array -->
                   <form class="item" action="/" method="POST">
    
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                  
                    <!-- we are going to add dynamic name for button to either put the value 
                in the work list or our regular list -->
                    <button type="submit" name="list" value=<%=listTitle %> >+</button>
                
                </form>
                   
            
            
    </div>
    
<!-- we are using ejs scriplet 
must use the tag around js codes for control flow
on a line by line basis 
-->
<%- include("footer") -%>